<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eapple.system.mapper.edu.EduEnrollmentMapper">

    <resultMap id="EduEnrollmentResult" type="EduCourseEnrollment">
        <id property="enrollmentId" column="enrollment_id"/>
        <result property="courseId" column="course_id"/>
        <result property="courseName" column="course_name"/>
        <result property="studentUserId" column="student_user_id"/>
        <result property="studentName" column="student_name"/>
        <result property="parentUserId" column="parent_user_id"/>
        <result property="parentName" column="parent_name"/>
        <result property="teacherUserId" column="teacher_user_id"/>
        <result property="teacherName" column="teacher_name"/>
        <result property="status" column="status"/>
        <result property="signupSource" column="signup_source"/>
        <result property="learningRecord" column="learning_record"/>
        <result property="interactionSummary" column="interaction_summary"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="remark" column="remark"/>
    </resultMap>

    <sql id="enrollmentSelect">
        select enrollment_id, course_id, course_name, student_user_id, student_name, parent_user_id, parent_name,
               teacher_user_id, teacher_name, status, signup_source, learning_record, interaction_summary,
               create_by, create_time, update_by, update_time, remark
        from edu_course_enrollment
    </sql>

    <sql id="enrollmentWhere">
        <where>
            <if test="courseId != null">
                and course_id = #{courseId}
            </if>
            <if test="teacherUserId != null">
                and teacher_user_id = #{teacherUserId}
            </if>
            <if test="parentUserId != null">
                and parent_user_id = #{parentUserId}
            </if>
            <if test="studentUserId != null">
                and student_user_id = #{studentUserId}
            </if>
            <if test="studentName != null and studentName != ''">
                and student_name like concat('%', #{studentName}, '%')
            </if>
            <if test="status != null and status != ''">
                and status = #{status}
            </if>
        </where>
    </sql>

    <select id="selectEnrollmentById" parameterType="Long" resultMap="EduEnrollmentResult">
        <include refid="enrollmentSelect"/>
        where enrollment_id = #{enrollmentId}
    </select>

    <select id="selectEnrollmentByCourseAndStudent" resultMap="EduEnrollmentResult">
        <include refid="enrollmentSelect"/>
        where course_id = #{courseId} and student_user_id = #{studentUserId}
    </select>

    <select id="selectEnrollmentList" parameterType="EduCourseEnrollment" resultMap="EduEnrollmentResult">
        <include refid="enrollmentSelect"/>
        <include refid="enrollmentWhere"/>
        order by enrollment_id desc
    </select>

    <insert id="insertEnrollment" parameterType="EduCourseEnrollment" useGeneratedKeys="true" keyProperty="enrollmentId">
        insert into edu_course_enrollment
        (course_id, course_name, student_user_id, student_name, parent_user_id, parent_name, teacher_user_id, teacher_name,
         status, signup_source, learning_record, interaction_summary, remark, create_by, create_time)
        values
        (#{courseId}, #{courseName}, #{studentUserId}, #{studentName}, #{parentUserId}, #{parentName}, #{teacherUserId}, #{teacherName},
         #{status}, #{signupSource}, #{learningRecord}, #{interactionSummary}, #{remark}, #{createBy}, sysdate())
    </insert>

    <update id="updateEnrollment" parameterType="EduCourseEnrollment">
        update edu_course_enrollment
        <set>
            <if test="status != null">status = #{status},</if>
            <if test="learningRecord != null">learning_record = #{learningRecord},</if>
            <if test="interactionSummary != null">interaction_summary = #{interactionSummary},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            update_time = sysdate()
        </set>
        where enrollment_id = #{enrollmentId}
    </update>

    <update id="increaseCourseCapacity" parameterType="Long">
        update edu_course set current_capacity = ifnull(current_capacity, 0) + 1 where course_id = #{courseId}
    </update>

    <select id="countEnrollments" parameterType="EduCourseEnrollment" resultType="Long">
        select count(1) from edu_course_enrollment
        <include refid="enrollmentWhere"/>
    </select>
</mapper>
